<!-- templates/index.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Data Transfer Example</title>
    <!-- 引入jQuery库 -->
    <link href="../static/css/main.css" rel="stylesheet" />
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script defer src="../static/js/main.js"></script>
  </head>
  <body>

    <div id="top10_1" class="col-3"></div>
    <div id="top10_2" class="col-3"></div>
    <select id="dropdown" onchange="getS()">
  </body>
</html>
